.hero {
  background: #f6f6f6;
  padding: 40px 20px;
  text-align: center;
}
.hero h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #000;
  padding: 15px;
}
.hero p {
  font-size: 18px;
  color: #5a5a5a;
  margin-bottom: 25px;
  padding: 5px;
}
.hero-btn {
  display: inline-block;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  color: white;
  padding: 15px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s ease;
}
.hero-btn:hover {
  opacity: 0.8;
}

.steps {
  padding: 40px 20px;
  background: white;
}
.steps h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.steps-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
}
.steps-list li {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  border-radius: 20px;
  padding: 25px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: relative;
}
.steps-list li:hover .step-content img {
  filter: invert(23%) sepia(90%) saturate(1000%) hue-rotate(262deg);
}

.step-number {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  background: #9356dc;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.step-content {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
}
.step-content img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  filter: grayscale(100%) invert(41%) sepia(10%) saturate(1000%)
    hue-rotate(180deg) brightness(85%) contrast(95%);
}
.step-content p {
  font-weight: 500;
  color: #000;
  font-size: 16px;
}

.restaurants {
  padding: 40px 20px;
  background: #f6f6f6;
}
.restaurants h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000;
}
.restaurants-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.restaurant-item {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.restaurant-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.restaurant-item a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}
.restaurant-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.image-container {
  position: relative;
  width: 100%;
}

.tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99e2d0;
  color: #008766;
  padding: 5px 15px;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.restaurant-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 20px;
  position: relative;
}
.restaurant-info h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 5px;
}
.restaurant-info p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}

.favorite-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #787878;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.favorite-icon:hover {
  color: #cb68db;
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

@media (min-width: 1024px) {
  .steps-list {
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    margin-left: 50px;
  }
  .steps-list li {
    width: 25%;
  }
  .restaurant-list {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 30px;
    margin-left: 75px;
  }
  .restaurant-item {
    text-align: left;
  }
  .restaurant-info {
    align-items: flex-start;
    text-align: left;
  }
  .favorite-icon {
    top: 15px;
    right: 15px;
  }
}
@media (min-width: 1440px) {
  h2 {
    margin-left: 120px;
  }
  .steps-list {
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    margin-left: 125px;
  }
  .steps-list li {
    width: 25%;
  }
  .restaurant-list {
    display: grid;
    grid-template-columns: repeat(2, 550px);
    gap: 50px;
    margin-left: 120px;
  }
}

/*# sourceMappingURL=homepage.css.map */