* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}

@font-face {
  font-family: "Shrikhand";
  src: url("../assets/fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(-3px);
  }
}